<div id="welcome_info">
  <%= label_tag "welcome", "您好！欢迎光临“找吃的”！"%>
    <span id="register_login">
      <%= link_to "注册","#"%>| <%= link_to "登录","#"%> 
    </span>
    <span id="quick_menu">
      <%= link_to "美食篮子","#"%>|
      <%= link_to "个人中心","#"%>|
      <%= link_to "收藏夹","#"%>
    </span>
</div>
